* {
  padding: 0;
  margin: 0;
}
canvas {
  background: lightblue;
  display: block;
  margin: 0 auto;
}

body {
  text-align: center;
  font-family: Arial;
  background-color: #ececec;
}

* {
  font-family: Arial;
  color: grey;
}

table,
tr,
td {
  border: silver 1px dotted;
}

.pixel-canvas {
  background-color: white;
}

/* 'border-collapse' CSS property specifies whether a table's cells have shared or separate borders; 'collapse' value causes cells to have shared borders */
table {
  border-collapse: collapse;
}

tr {
  height: 50px;
}

td {
  min-width: 50px;
  box-sizing: border-box;
}

button {
  border: 1px solid #0099cc;
  background-color: #00aacc;
  color: #ffffff;
  padding: 5px 10px;
  width: 100px;
  height: 50px;
  font-size: 25px;
  padding: 5px 10px;
}

button[disabled='disabled'],
button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  width: 100px;
  height: 50px;
  font-size: 25px;
  padding: 5px 10px;
}
